## Introduction to SciKitLearn

This notebook demonstrates some of the most useful functions of scikitlearn

### Topics Covered
1. end-to-end scikit learn workflow
2. prepare the data
3. fit the model and make predictions
4. evaluate the model
5. improve the model
6. save and load a trained model
7. put it all together

## E2E Workflow

In [15]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('numpy-images/heart-disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

create features (x matrix)

In [4]:
features = df.drop("target", axis=1)
features

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

create labels (y)

In [5]:
label = df['target']
label

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

we are classifying if a patient has heart disease, so we'll be using a classification model


**a great article on random forest classification**\
https://towardsdatascience.com/understanding-random-forest-58381e0602d2

In [7]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [9]:
# keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

fit the model to the training data

In [ ]:
# import library

In [11]:
from sklearn.model_selection import train_test_split as tts

data needs to be split into training and testing data

In [12]:
x_train, x_test, y_train, y_test = tts(features, label, test_size =.20)

In [14]:
clf.fit(x_train, y_train);

make a prediction

In [21]:
ypreds = clf.predict(x_test)
ypreds

array([1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

evaluate model on training and test data

**Signature:** clf.score(X, y, sample_weight=None)\
**Docstring:** \
Return the mean accuracy on the given test data and labels.

In multi-label classification, this is the subset accuracy
which is a harsh metric since you require for each sample that
each label set be correctly predicted.

In [22]:
clf.score(x_train, y_train)

1.0

In [23]:
clf.score(x_test, y_test)

0.819672131147541

## more metrics

In [26]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [28]:
print(classification_report(y_test, ypreds))

              precision    recall  f1-score   support

           0       0.88      0.73      0.80        30
           1       0.78      0.90      0.84        31

    accuracy                           0.82        61
   macro avg       0.83      0.82      0.82        61
weighted avg       0.83      0.82      0.82        61

In [30]:
confusion_matrix(y_test, ypreds)

array([[22,  8],
       [ 3, 28]], dtype=int64)

In [32]:
accuracy_score(y_test, ypreds)

0.819672131147541

improve model

In [37]:
# try different amount of n-estimators

np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators
Model accuracy on test set: 77.05%

Trying model with 20 estimators
Model accuracy on test set: 75.41%

Trying model with 30 estimators
Model accuracy on test set: 78.69%

Trying model with 40 estimators
Model accuracy on test set: 78.69%

Trying model with 50 estimators
Model accuracy on test set: 80.33%

Trying model with 60 estimators
Model accuracy on test set: 80.33%

Trying model with 70 estimators
Model accuracy on test set: 85.25%

Trying model with 80 estimators
Model accuracy on test set: 80.33%

Trying model with 90 estimators
Model accuracy on test set: 80.33%

save the model and load it

In [38]:
import pickle as pkl

pkl.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [39]:
loaded_model = pkl.load(open("random_forest_model_1.pkl", "rb"))

In [41]:
loaded_model.score(x_test, y_test)

0.8032786885245902

---

## 1.Getting Data Prepared for Machine Learning
Three main tasks:
1. splitting the data into features and labels (typically called 'X' and 'Y')
2. filling (aka imputing) or disregarding missing values
3. converting non-numerical values to numerical (feature engineering)

In [42]:
#show data
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [43]:
X = df.drop("target", axis=1)
Y = df["target"]

In [44]:
x_train, x_test, y_train, y_test = tts(X, Y, test_size =.20)